* {
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scrollbar-width: none;
}
.layout {
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-blend-mode: overlay;
}
.announcement {
    z-index: 2;
    width: 100%;
    background: #be4646;
    padding: 0;
}
.announcement p {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 6px;
}

a{
    text-decoration: none;
    color: inherit;
}

input:-webkit-autofill,
input:-moz-placeholder {
    background: inherit;
    -webkit-text-fill-color: initial !important;
    font-family: inherit;
    font-size: inherit;
}

input::-moz-placeholder {
    background: inherit;
    -moz-text-fill-color: initial !important;
    font-family: inherit;
    font-size: inherit;
}
main {
    width: 100%;
    flex: 1;
    display: block;
    background: #ffffff;
    color: #808080;
}