* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: inherit;
}

input:-webkit-autofill,
input:-moz-placeholder {
    background: inherit;
    -webkit-text-fill-color: initial !important;
    font-family: inherit;
    font-size: inherit;
}

input::-moz-placeholder {
    background: inherit;
    -moz-text-fill-color: initial !important;
    font-family: inherit;
    font-size: inherit;
}
main {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}