.PDT {
    width: 100%;
    height: 100%;
}

.PDT .PDT_wrap {
    display: flex;
    width: 100%;
    text-align: start;
    padding: 40px;
}

.PDT .PDT_wrap .left{
    width: fit-content;
    height: 100%;
}
.PDT .PDT_wrap .left div {
    display: flex; 
    gap: 14px;
    width: 100%; 
    height: fit-content;      
}
.PDT .PDT_wrap .left div .thumbnails {
    display: grid;
    width: fit-content;
    height: 100%;
    margin: auto 0;
}
.PDT .PDT_wrap .left div .thumbnails img {
    height: 100px;
    border: 3px solid #c5c5c5;
    object-fit: cover;
    object-position: center;
}
.PDT .PDT_wrap .left div .bg-img {
    width: 400px;
    height: 500px;
}
.PDT .PDT_wrap .left div .bg-img .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 60%;
    background-repeat: no-repeat;
    border: 3px solid #c5c5c5;
}



.PDT .PDT_wrap .right {
    width: 100%;
    padding-left: 30px;
    height: 100%;
    margin: auto;
}
.PDT .PDT_wrap .right .content{
    display: grid;
    gap: 10px;
}
.PDT .PDT_wrap .right .content hr {
    border: none;
    height: 1px;
    background-color: #d3d3d3;
    margin-bottom: 20px;
}
.PDT .PDT_wrap .right .content .head h2 {
    font-weight: 900;
    letter-spacing: 2px;
    color: #3f3f3f;
    margin-bottom: 5px;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.PDT .PDT_wrap .right .content .head p {
    color: inherit;
    font-size: 13px;
    text-transform: capitalize;
}
.PDT .PDT_wrap .right .content .price {
    display: flex;
    gap: 7px;
    font-weight: 900;
}
.PDT .PDT_wrap .right .content .price .oldPrice {
    font-size: 14px;
    text-decoration: line-through;
}
.PDT .PDT_wrap .right .content .price .newPrice {
    font-size: 14px;
    color: #be4646;
}
.PDT .PDT_wrap .right .content .model p {
    color: inherit;
    font-size: 13px;
}

.PDT .PDT_wrap .right .content .btn .quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    background: #eeeeee;
    margin-bottom: 5px;
}
.PDT .PDT_wrap .right .content .btn p {
    width: 180px;
    font-size: 14px;
    color: #3f3f3f;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.PDT .PDT_wrap .right .content .btn .quantity button {
    flex: 1;
    outline: none;
    padding: 5px;
    border: none;
    background: #eeeeee;
    color: #be4646;
    font-size: 20px;
}
.PDT .PDT_wrap .right .content .btn .quantity span {
    flex: 1;
    text-align: center;
    color: #3f3f3f;
}

.PDT .PDT_wrap .right .content .btn .size {
    display: flex;
    align-items: center;
    color: #be4646;
    gap: 3px;
    width: fit-content;
    border-bottom: #be4646 solid 1px;
}
.PDT .PDT_wrap .right .content .btn .size a, .PDT .PDT_wrap .right .content .btn .size span {
    font-style: italic;
    display: flex;
    font-size: 13px;
    font-weight: 500;
}
.PDT .PDT_wrap .right .content .btn ol {
    color: #be4646;
    font-size: 13px;
    font-weight: 500;
    list-style: disc;
    padding-left: 15px;
}
.PDT .PDT_wrap .right .content .btn .cart {
    display: flex;
    margin: 30px 0 5px;
    gap: 5px;
    max-width: 300px;
}
.PDT .PDT_wrap .right .content .btn .cart button:nth-child(1) {
    position: relative;
    outline: none;
    padding: 10px;
    border: none;
    font-weight: 600;
    color: #fff;
    width: 80%;
    cursor: pointer;
    background: #a54949;
}
.PDT .PDT_wrap .right .content .btn .cart button span {
    position: absolute;
    top: 7px;
    left: 20%;
}
.PDT .PDT_wrap .right .content .btn .cart button span svg, 
.PDT .PDT_wrap .right .content .btn .cart button svg
{
    font-size: 20px;
    color: #fff;
}
.PDT .PDT_wrap .right .content .btn .cart button:nth-child(2) {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background: #a54949;
    color: #fff;
    cursor: pointer;
    width: 15%;
}
.PDT .PDT_wrap .right .content .details {
    max-width: 500px;
}
.PDT .PDT_wrap .right .content .details h4 {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
    color: #3f3f3f;
    margin-bottom: 12px;
    letter-spacing: 2px;
}
.PDT .PDT_wrap .right .content .details svg {
    color: #be4646;
    font-size: 18px;
}
.PDT .PDT_wrap .right .content .details p {
    font-size: 13px;
    padding: 0 10px;
    text-align: justify;
}

@media screen and (max-width: 900px) {
    .PDT .PDT_wrap .left div {
        gap: 8px;
        flex-direction: column-reverse;
    }
    .PDT .PDT_wrap .left div .thumbnails {
        display: block;
        margin: auto;
    }
    .PDT .PDT_wrap .left div .thumbnails img {
        margin-right: 5px;
    }

    .PDT .PDT_wrap .right {
        width: 100%;
        padding-left: 15px;
    }
    .PDT .PDT_wrap .right .content .btn .cart button span {
        left: 15%;
    }

}

@media screen and (max-width: 750px) {
    .PDT .PDT_wrap {
        padding: 30px;
        display: block;
    }
    .PDT .PDT_wrap .left, .PDT .PDT_wrap .left div .bg-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .PDT .PDT_wrap .left div  {
        max-width: 500px;
    }
    
    .PDT .PDT_wrap .right {
        margin-top: 40px;
        padding-left: 0;
    }
    .PDT .PDT_wrap .right .content {
        border-top: #d3d3d3 1px solid;
        padding-top: 30px;
    }
    .PDT .PDT_wrap .right .content .head h2 {
        font-size: 20px;
    }
    .PDT .PDT_wrap .right .content hr {
        margin-top: 30px;
    }
    .PDT .PDT_wrap .right .content .details p {
        padding: 0;
    }
}