
.banner {
    inset: 0 0 0 0;
    width: 100%;
    height: 600px;
    position: absolute;
}
.banner .img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}
.banner .banner-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(50%);
}

.banner-cont {
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
}
.banner-cont .banner-wrap .banner-text {
    width: fit-content;
    text-align: -webkit-center;
    margin: auto;
    background: transparent;
    backdrop-filter: blur(6px);
    color: #ffffff;
    opacity: 0;
    animation:showContent 1s ease-in-out 0.1s 1 forwards;
}

.banner-cont .banner-wrap .banner-text h5{
    padding: 3px;
    font-weight: 900;
    letter-spacing: 6px;
    margin-bottom: 3px;
    width: fit-content;
    opacity: 0;
    animation:showContent 1s ease-in-out 0.2s 1 forwards;
}
.banner-cont .banner-wrap .banner-text h1{
    width: fit-content;
    padding: 10px;
    line-height: 1em;
    font-weight: 500;
    margin-top: 2px;
    opacity: 0;
    animation:showContent 1s ease-in-out 0.4s 1 forwards;
}
.banner-cont .banner-wrap .banner-text h1 span {
    padding: 3px;
    background: #be4646;
    opacity: 0;
    animation:showContent 1s ease-in-out 0.5s 1 forwards;
}
.banner-cont .banner-wrap button {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 500;
    color: #7a7a7a;
    letter-spacing: 2px;
    border: 1px solid #7a7a7a;
    padding: 1.25em 2.5em;
    backdrop-filter: blur(3px);
    opacity: 0;
    animation:showContent 1s ease-in-out 0.7s 1 forwards;
    background: linear-gradient(to right, #d3fcff, #fbf0df, #f6f6f7, #c7d3ca, #d9e8f9);
}
.banner-cont .banner-wrap button:hover {
    cursor: pointer;
    background: #be4646;
    border: 1px solid #be4646;
    color: #ffffff;
    transition: all ease 0.4s;
}

@keyframes showContent {
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}

@media (max-width: 480px){
    .banner .img {
        background-size: cover;
    }
    .banner-cont {
        margin-top: 20%;
    }
    .banner-cont .banner-wrap .banner-text h1 span {
        line-height: 40px;
    }
}