.HB {
    display: none;
}

@media (max-width: 480px){
    .HB {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 110;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
    }
    
    .HB .HB_icon {
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        background: #be4646;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        height: 50px;
        z-index: inherit;
        color: #fff;
    }

    .HB .HB_icon p {
        font-size: 19px;
        letter-spacing: .2em;
        text-transform: uppercase;
    }
      
    .HB_menu {
        width: 100%;
        position: fixed;
        bottom: -100%;
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        padding: 20px;        
    }
    
    .HB_menu div {
        width: 100%;
        display: flex;
        padding: 4px 0;
        background: linear-gradient(to right, #d3fcff, #fbf0df, #f6f6f7, #c7d3ca, #d9e8f9);

    }

    .HB .HB_menu div ul {
        width: 100%;
        padding: 0;
        text-align: center;
        color: #4e4c4c;
    }
    
    .HB_menu div ul li{
        list-style: none;
        text-align: center;
    }
      
    .HB_menu ul li .HB_active{
        background: none;
        width: 150px;
        display: flex;
        justify-content: start;
        margin: auto;
        gap: 15px;
        align-items: center;
        padding: 10px;
    }
    
    .HB_links {
        background: #d35f5f;
        color: #d35f5f !important;
    }
    
    .HB_menu ul li a {
        display: flex;
        width: 100%;
        justify-content: start;
        font-size: 14px;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
    }
      
    .HB.open .HB_menu {
        transform: translateY(-62%);
        opacity: 1;
    }
      
    .HB.open {
        transform: translateY(1%);
    }
    
    .HB .HB_icon.close {
        position: absolute;
    }
}