.HD {
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding: 23px 0;
    position: relative;
    background: transparent;
    backdrop-filter: blur(2px);
}
.HD .HD_wrapper{
    display: flex;
    justify-content: space-between;
}
.HD .HD_wrapper .HD_items {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;    
    align-items: center;
    width: 100%;
}
.HD_bg {
    background: linear-gradient(to right, #d3fcff, #fbf0df, #f6f6f7, #c7d3ca, #d9e8f9);
}

/* THE HEADER LOGO SECTION */
.HD .HD_wrapper .HD_items .HD_logo {
    font-size: xx-large;
    font-style: italic;
}

/* THE HEADER MENU SECTION */
.HD .HD_wrapper .HD_items .HD_menu {
    display: flex;
    text-align: center;
}
.HD .HD_wrapper .HD_items .HD_menu ul {
    /* Display will be block in Tablet Mode */
    padding: 0;
    text-align: center;
}
.HD .HD_wrapper .HD_items .HD_menu ul li {
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding: 7px 15px;
    display: inline-block;
}
.HD .HD_wrapper .HD_items .HD_menu ul li a {
    font-size: 12px;
    font-weight: 500;
    color: #3f3f3f;
    padding-bottom: 4px;

}
.HD_active {
    padding: 0 5px;
    color: black !important;
    border-width: 40px;
    font-weight: 600;
    border-bottom: black solid 2px;
}
.HD .HD_wrapper .HD_items .HD_menu ul li a:hover {
    color: inherit;
    border-bottom: 2px solid black;
    transition: all ease-in-out;
    transition-duration: 0.2s;
}


/* THE HEADER NAVBAR ICONS SECTION */
.HD .HD_wrapper .HD_items .HD_navIcons {
    white-space: nowrap;
    display: flex;
    margin-top: 10px;
}
.HD .HD_wrapper .HD_items .HD_navIcons div {
    padding-left: 15px;
    padding-right: 15px;
}
.HD .HD_wrapper .HD_items .HD_navIcons div a {
    width: 25px;
    height: 25px;
    color: inherit;
}

    
/* THE HAMBURGER MENU SECTION */
.HD .HD_wrapper .HD_items .HD_hamburger {
    display: none;
    cursor: pointer;
}
.HD .HD_mobileMenu {
    display: none;
}


/* THE CART DISPLAY SECTION */
.HD .HD_cart {
    position: absolute;
    width: fit-content;
    right: 20px;
    z-index: 999;
    background: #fff;
    transform: translateY(-125%);
    opacity: 1;
    transition: transform 0.5s ease-in-out;
}
.HD .HD_cart.open {
    top: 84px;
    opacity: 1;
    transform: translateY(1%);
    transition: transform 0.5s ease-in-out;
}
.HD .HD_wrapper .HD_items .HD_navIcons div span .cart{
    color: green;
    padding-bottom: 1px;
    border-bottom: 3px solid #be4646;
}



@media screen and (max-width: 850px) and (min-width: 481px) {

    .HD .HD_wrapper .HD_items {
        padding: 0 30px;
    }

    .HD .HD_wrapper .HD_items .HD_navIcons div {
        padding-left: 0;
    }
}

/* Media query for smallest screens */
@media (max-width: 480px){
    .HD .HD_wrapper .HD_items {
        display: block;
    }
    .HD .HD_wrapper .HD_items .HD_menu ul, .HD .HD_wrapper .HD_items .HD_navIcons {
        display: none;
    }
    .HD .HD_wrapper .HD_items .HD_hamburger {
        display: block;
    }
    
}
