.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cards-items{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 4%;
}

.card {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.card div {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    padding: 8%;
}

.card div div {
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, 0.42);
    /* padding-bottom: 1em;
    padding-left: 1.2em; */
    text-align: start;
    align-content: flex-end;
    color: white;
    /* word-wrap: break-word; */
}


/* Media query for medium screens */
@media screen and (max-width: 850px) and (min-width: 480px) {
    .cards-items{
        flex-wrap: wrap;
    }
    .card {
        height: 100%;
        width: calc(50% - 2%); /* 50% width with 5% margin-right */
    }
}

/* Media query for smallest screens */
@media screen and (max-width: 480px) {
    .cards-items{
        flex-wrap: wrap;
    }
    .card {
        height: 100%;
        width: 100%; /* Full width for single column */
        margin-right: 0;
    }
}