.CS {
    width: 100%;
    margin-bottom: 50px;
    height: 100%;
    padding: 100px 8px;
    background: linear-gradient(to right, #d3fcff, #fbf0df, #f6f6f7, #c7d3ca, #d9e8f9);
}

.CS .CS_intro p{
    font-size: 14px;
    letter-spacing: 2px;
    color: #be4646;
    margin-bottom: 10px;
    font-weight: 500;
}

.CS .CS_intro h1 {
    color: #4e4c4c;
    text-wrap: nowrap;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    word-spacing: 8px;
    margin-bottom: 10px;
}

.CS .CS_intro div p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    white-space: wrap;
    text-wrap: balance;
    margin-bottom: 40px;
}

.CS .CS_cont {
    width: 100%;
    height: 100%;
}

.CS .CS_cont{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CS .CS_cont .CS_images{
    display: flex;
    align-items: center;
    gap: 18px;
}

.CS .CS_cont .CS_images .CS_img {
    width: 10%;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.CS .CS_cont .CS_images .CS_img img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 6px;
}

.CS .CS_cont .CS_images .CS_img:first-child, .CS .CS_cont .CS_images .CS_img:last-child {
    height: 480px;
}

.CS .CS_cont .CS_images .CS_img:nth-child(2), .CS .CS_cont .CS_images .CS_img:nth-child(6){
    height: 560px;
}

.CS .CS_cont .CS_images .CS_img:nth-child(3), .CS .CS_cont .CS_images .CS_img:nth-child(4), .CS .CS_cont .CS_images .CS_img:nth-child(5) {
    height: 665px;
}

.CS .CS_cont .CS_images .CS_img .CS_details {
    width: 100%;
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    bottom: 0;
    color: #be4646;
    padding-bottom: 10px;
    opacity: 0;
    animation: showContent 1s ease-in-out 0.1s 1 forwards;
}

.CS .CS_cont .CS_images .CS_img .CS_details h2 {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: inline-block;
    opacity: 0;
    color: #fff;
    animation: showContent 1s ease-in-out 0.2s 1 forwards;
}

.CS .CS_cont .CS_images .CS_img .CS_details p{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin-left: 5px;
    text-decoration: line-through;
    line-height: 20px;
    text-transform: uppercase;
    transition: 0.7s ease;
    opacity: 0;
    animation: showContent 1s ease-in-out 0.3s 1 forwards;
}

.CS .CS_cont .CS_images .CS_img .CS_details button {
    display: block;
    margin: 0 auto;
    padding: 1px;
    border: 1px solid #fff;
    border: 1px solid #be4646;

}
.CS .CS_cont .CS_images .CS_img .CS_details button a {
    display: block;
    padding: 8px 13px;
    width: 100%;
    height: 100%;
    font-weight: 500; 
    color: #fff;
    color: #7a7a7a;
    letter-spacing: 2px;
    border: 1px solid #be4646;
    backdrop-filter: blur(3px);
    opacity: 0;
    animation: showContent 1s ease-in-out 0.1s 1 forwards;
    background: #be4646;
    background: linear-gradient(to right, #d3fcff, #fbf0df, #f6f6f7, #c7d3ca, #d9e8f9);
}
.CS .CS_cont .CS_images .CS_img .CS_details a:hover{
    margin: 0;
    cursor: pointer;
    background: linear-gradient(to right, #d3fcff, #fbf0df, #f6f6f7, #c7d3ca, #d9e8f9);
    background: #be4646;
    border: 1px solid #be4646;
    color: #7a7a7a;
    color: #ffffff;
    transition: all ease 0.4s;
}
.CS_active {
    cursor: default !important;
    width: 70% !important;
}
.CS_active .CS_details {
    display: block !important;
}




@media screen and (max-width: 850px) and (min-width: 481px) {
    .CS .CS_cont .CS_images{
        gap: 10px;
    }
    
}

/* Media query for smallest screens */
@media (max-width: 480px){
    .CS .CS_cont .CS_images{
        gap: 5px;
    }
    .CS .CS_intro p{
        margin-bottom: 6px;
        font-size: 12px;
        font-weight: 500;
    }
    .CS .CS_intro h1 {
        font-size: 18px;
    }
    .CS .CS_intro div p {
        font-size: 12px;
    }
    
}