.PS_slider {
    width: 100%;
    height: 100%;
    
}

.PS_slider .PS_card .PS_imgBox {
    background: #fff;
    padding: 4px;
}

.PS_slider .PS_card .PS_imgBox .PS_img {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}