.PD_details {
    color: #fff;
    text-align: start;
    padding: 5px;
}

.PD_details .PD_prices {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bolder;
}

.PD_details .PD_prices div {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #999999;
}

.PD_details .PD_prices div p {
    text-decoration: line-through;
}
        
.PD_details .PD_prices div #off {
    color: #22aa00;
    gap: 5px;
    text-wrap: nowrap;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .PD_details .PD_prices {
        display: grid;
    }
}

@media screen and (max-width: 520px) {
    .PD_details {
        padding: 3px;
    }
}
