.PC_wrap {
    width: 100%;
    height: 100%;
}

.PC_wrap .PC_card .PC_imgBox {
    background: #fff;
    padding: 4px;
    min-width: 220px;
    margin-bottom: 20px;
}

.PC_wrap .PC_card .PC_imgBox .PC_img {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}