.PDS {
    width: 100%;
}

.PDS .PDS_hero{
    width: 100%;
    height: 150px;
    display: flex;
    margin-bottom: 3%;
    position: relative;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.PDS .PDS_hero .PDS_lead {
    color: #be4646;
    position: absolute;
    bottom: -15%;
    padding: 3px 30px;
    transform: scaleY(2.5);
    text-transform: lowercase;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    background: linear-gradient(to bottom, transparent 50%, #fff 50%);
}

.PDS .intro {
    z-index: 2;
    font-size: 12px;
    font-weight: 300;
    max-width: 400px;
    color: #22aa00;
    margin: 48px auto;
    position: relative;
    letter-spacing: 0;
    white-space: wrap;
    text-wrap: pretty;
    padding: 0 15px;
}

.PDS .PDS_wrap {
    gap: 3%;
    display: flex;
}

.PDS .PDS_wrap .PDS_main {
    flex: 3;
    width: 100%;
    height: 100%;
}

.PDS .PDS_wrap .PDS_main .PDS_backGround {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.PDS .PDS_wrap .PDS_main .PDS_cards {
    backdrop-filter: blur(0.9px);
    background: rgb(0 0 0 / 70%);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgb(255 255 255 / 12%);
}

.PDS .PDS_wrap .PDS_main .PDS_cards .PDS_cont{
    gap: 6px;
    display: grid;
    padding: 60px 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}


@media screen and (max-width: 750px) {
    .PDS .PDS_wrap .PDS_left {
        display: none;
    }

    .PDS .PDS_hero {
        margin-bottom: 0;
    }

    .PDS .PDS_hero .PDS_lead {
        bottom: -11%;
        font-size: 25px;
    }

    .PDS .intro {
        font-size: 10px;
        margin: 40px auto;
    }
    .PDS .PDS_wrap {
        padding: 0;
    }
    
    .PDS .PDS_wrap .PDS_main, .PDS .PDS_wrap .PDS_main .PDS_cards {
        border-radius: 0;
    }

    .PDS .PDS_wrap .PDS_main .PDS_cards .PDS_cont {
        gap: 45px 15px;
        padding: 45px 20px;
    }

}

@media screen and (max-width: 320px) {
    .PDS .PDS_hero .PDS_lead {
        font-size: 18px;
    }
}